{% macro main(path) %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/item_top_panel.css') }}">

<div class="path">
{% for item in path %}
    {% if loop.first %}
    {% else %}
        <span>></span>
    {% endif %}
    {% if loop.last %}
        <span>{{ item }}</span>
    {% else %}
        <a href="#">{{ item }}</a>
    {% endif %}
{% endfor %}
</div>


{% if request.path == "/search" %}
    {% set url = request.path + '?q=' + request.args.get('q') + '&' %}
{% else %}
    {% set url = request.path + '?'%}
{% endif %}



{% endmacro %}