{% extends "base.html" %}


{% block content %}


<main>

 {% import "message.html" as  message %}{{ message.main() }}

    <link rel="stylesheet" href="/static/styles/item.css">
    <script src="/static/scripts/item.js"></script>

    {% set path = data['path'] %}
    {% set data = data['items'] %}

    {% import "item_top_panel.html" as  item_top_panel %}{{ item_top_panel.main(path, sortby) }}



<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


<div id="users">


    <button class="sort btn btn-primary btn-sm" data-sort="cost">цена</button>
    <button class="sort btn btn-primary btn-sm" data-sort="name">имя</button>

    <div class="list contain">
        {% for line in range(data|length) %}
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static',  filename= 'img/' + data[line]['img']) }}" alt="Card image cap">
                <div class="card-body">
                    <i class="fas fa-faucet"></i>
                    <h5 class="name card-title">{{ data[line]["name"] }}</h5>
                    <p class="cost card-text text-center"><b>{{ data[line]['cost'] }}</b></p>
                </div>
            </div>
        {% endfor %}
    </div>


</div>


<script type="text/javascript">

    var options = {
      valueNames: ['cost', 'name']
    };

    var userList = new List('users', options);

</script>

</main>

{% endblock %}
