{% macro main(path, sortby) %}

<link rel="stylesheet" href="/static/styles/item_top_panel.css">
<!--<script src="/static/scripts/item_top_panel.js"></script>-->

<div class="path">
{% for item in path %}
    {% if loop.first %}
    {% else %}
        <span>></span>
    {% endif %}
    {% if loop.last %}
        <span>{{ item }}</span>
    {% else %}
        <a href="#">{{ item }}</a>
    {% endif %}
{% endfor %}
</div>


{% if request.path == "/search" %}
    {% set url = request.path + '?q=' + request.args.get('q') + '&' %}
{% else %}
    {% set url = request.path + '?'%}
{% endif %}


<div class="items-panel">
    <div class="sortby-block">

        {% if sortby == "pd" %}
        <a href="{{ url + 'sortby=pi'}}" class="sort-checked">
            <i class="fas fa-chevron-up">
                <span>По цене</span>
            </i>
        </a>
        {% elif sortby == "pi" %}
        <a href="{{ url + 'sortby=pd'}}" class="sort-checked">
            <i class="fas fa-chevron-down">
                <span>По цене</span>
            </i>
        </a>
        {% else %}
        <a href="{{ url + 'sortby=pd'}}">
            <i class="fas fa-chevron-up">
                <span>По цене</span>
            </i>
        </a>
        {% endif %}


        {% if sortby == "ad" %}
        <a href="{{ url + 'sortby=ai'}}" class="sort-checked">
            <i class="fas fa-chevron-up">
                <span>По алфавиту</span>
            </i>
        </a>
        {% elif sortby == "ai" %}
        <a href="{{ url + 'sortby=ad'}}" class="sort-checked">
            <i class="fas fa-chevron-down">
                <span>По алфавиту</span>
            </i>
        </a>
        {% else %}
        <a href="{{ url + 'sortby=ad'}}">
            <i class="fas fa-chevron-up">
                <span>По алфавиту</span>
            </i>
        </a>
        {% endif %}


        {% if sortby == "cd" %}
        <a href="{{ url + 'sortby=ci'}}" class="sort-checked">
            <i class="fas fa-chevron-up">
                <span>По количеству</span>
            </i>
        </a>
        {% elif sortby == "ci" %}
        <a href="{{ url + 'sortby=cd'}}" class="sort-checked">
            <i class="fas fa-chevron-down">
                <span>По количеству</span>
            </i>
        </a>
        {% else %}
        <a href="{{ url + 'sortby=cd'}}">
            <i class="fas fa-chevron-up">
                <span>По количеству</span>
            </i>
        </a>
        {% endif %}
    </div>
    <div class="view-block">
        <a href=""><i class="fas fa-th"></i></a>
        <a href=""><i class="fas fa-list"></i></a>
        <a href=""><i class="fas fa-bars"></i></a>
    </div>

</div>

{% endmacro %}