{% extends "base.html" %}
{% block content %}

<main>
<link rel="stylesheet" href="/static/styles/item_table.css">

<script src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js'></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">




{{ md |safe }}

<div style="width: 1000px; height: 400px">
	{{ table }}
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('.table').DataTable( {
    	"pageLength": -1,
    	"searching": false,
    	"paging": false,
    	"info": false,
    });
});
</script>


</main>

{% endblock %}