<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
	<link rel="stylesheet" href=" {{ url_for('static', filename='styles/colors.css') }} ">
    <title>{{title}}</title>
</head>

<body>

{% import "header.html" as  header %}{{ header.main() }}

{% block content %}{% endblock %}

{% import "footer.html" as  footer %}{{ footer.main() }}

</body>

</html>