main {
    display: grid;
    gap: 0 20px;
    grid-template-columns:
        repeat(auto-fit, 600px);
    grid-template-rows: repeat(999, minmax(0px, auto));
    padding: 0 2vw;
}

main > div { /* map */
    margin: 20px;
    box-shadow: var(--contacts-map-shadow);
}

main > table {
    margin: 20px;
    align-self: start;
    background-color: var(--contacts-table-bg);
    box-shadow: var(--contacts-table-shadow);
}