body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: auto auto;
}

header {
    grid-column-start: 1;
    grid-column-end: span 2;

    padding: 10px;
    margin: 0;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #eee;
    box-shadow: 0 5px 30px #00f5;

    display: flex !important;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

header > h1 {
    margin: 0;
    cursor: pointer;
}

header > nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}

img {
    width: 50px;
}