@import url('/static/styles/fonts/Montserrat.css');

::-webkit-scrollbar {
    background-color: #fff0;
}

::-webkit-scrollbar-thumb {
    margin: 0 2px;
    border-radius: 3px;
    background-color: #ccc;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: auto auto;
}

header {
    grid-column-start: 1;
    grid-column-end: span 2;

    padding: 10px;
    margin: 0;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #eee;
    box-shadow: 0 5px 30px #00f5;

    display: flex !important;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

header > h1 {
    margin: 0;
    cursor: pointer;

    font-weight: bold;
}

header > nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a.search {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    background-color: #fff;
    border-radius: 50vh;
    padding: 8px 10px;
    color: #777;
}

a.search:hover {
    color: #777;
}

svg.search {
    height: 20px;
    fill: #777;
}

p.search {
    margin: 0 10px;
}

header a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    color: #005;
}