@import url('/static/styles/fonts/Montserrat.css');

::-webkit-scrollbar {
    background-color: #fff0;
}

::-webkit-scrollbar-thumb {
    margin: 0 2px;
    border-radius: 3px;
    background-color: #ccc;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: auto auto;
}

header {
    grid-column-start: 1;
    grid-column-end: span 2;

    padding: 10px;
    margin: 0;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #eee;
    box-shadow: 0 5px 30px #00f5;

    display: flex !important;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

header div.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

header div.logo h1 {
    font-weight: normal;
    font-size: 1em;
}

header label {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 50vh;
}

header label input {
    border: 0;
    font-size: 1em;
}

header input:focus {
    outline: none;
}

header label svg {
    width: 20px;
    margin-right: 5px;
}

header nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    color: #005;
}

