main {
    margin: 20px;
}

main > div {
    width: 100%;
    height: 30vh;
    background-color: #ccd;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #0000, #558a, #0000);
    margin: 24px 0 16px;
}