main {
    --item-width: 230px;
}

div.path {
    margin-bottom: 20px;
    margin-left: 15px;
}

div.path > a {
    text-decoration: underline;
    color: var(--item-path-a-color);
}

div.path > a:hover {
    color: var(--item-path-a-color-hover);
}

div.path > span {
    color: var(--item-path-span-color);
}

main * {
    overflow: hidden;
}

main .sort-checked {
    color: red;
}

main div.contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    overflow: visible;
}

main div.contain::after {
    content: "";
    flex: auto;
}

main div.card {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 10px;
    max-width: var(--item-width);
    border: 0;
    border-radius: 20px;
    box-shadow: var(--item-card-shadow);
    background-color: var(--item-card-bg);
}

main div.card img {
    max-width: var(--item-width);
}