main > div.content-table {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    width: 100%;
    gap: 10px;
}

main table {
    background-color: var(--item-table-bg);
    box-shadow: var(--item-table-shadow);
}

main div.content-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 420px;
}

main img {
    flex-shrink: 0;
    margin: 10px;
    border-radius: 20px;
    box-shadow: var(--item-table-img-shadow);
}