:root {
    --block-height: 30vh;
}

* {
    padding: 0;
    margin: 0;
}

body * {
    overflow: hidden;
}

body {
    display: block;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 10px;
    width: 100%;
    overflow: visible;
}

main label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: var(--block-height);
    border-radius: 20px;
    box-shadow: var(--index-label-shadow);
    margin: 10px;
    padding: 0 20px;
    background-color: var(--index-label-bg);
}

main label:hover {
    background-color: var(--index-label-bg-hover);
    box-shadow: var(--index-label-shadow-hover);
}

main label h2 {
    color: var(--index-h1-color);
}

div.headcat {
    flex-shrink: 0;
    height: var(--block-height);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    
    transition: flex-shrink .7s;
}

div.headcat > h2 {
    flex-shrink: 0;
    font-size: 3em;
}

div.headcat > img {
    flex-shrink: 1;
    margin: 1vh;
    height: calc(var(--block-height) - 2vh);
}

label:nth-of-type(4n-3) div.headcat {
    flex-direction: row-reverse;
}

label:nth-of-type(4n-2) div.headcat {
    flex-direction: row-reverse;
}

div.undercat {
    flex-shrink: 0;
    height: var(--block-height);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 5px;

    padding: 0 3vw 0 0;
}

div.undercat > a {
    flex-shrink: 0;
    letter-spacing: .1em;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--index-a-color);
}

div.undercat > a:hover {
    background-color: var(--index-a-bg-hover);
    color: var(--index-a-color-hover);
}

main input[type="checkbox"]:checked ~ div.headcat {
    flex-shrink: 1;
}

main input[type="checkbox"]:checked ~ div.undercat {
    flex-shrink: 0;
}