* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 20vh;
}

div.headcat {
    flex-shrink: 0;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    
    transition: flex-shrink 1s;
}

label:nth-of-type(even) div.headcat {
    flex-direction: row-reverse;
}

div.undercat {
    flex-shrink: 0;
    height: 20vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    transition: flex-shrink 1s;
}

div.undercat > a {
    flex-shrink: 0;
    letter-spacing: .1em;
    line-height: 1.3em;
}

input[type="checkbox"]:checked + label > div.headcat {
    flex-shrink: 1;
}

input[type="checkbox"]:checked + label > div.undercat {
    flex-shrink: 0;
}

label:hover {
    background-color: #eee;
}