:root {
    --border-color: #55f0;
}

nav.main-menu {
    grid-row-start: 2;
    grid-row-end: span 2;
}

nav.main-menu > ul {
    border-radius: 10px;
    overflow: hidden;
}

nav.main-menu input[type="checkbox"] {
    display: none;
}

nav.main-menu input[type="checkbox"] ~ ul {
    display: none;
    border-bottom: 1px solid var(--border-color);
}

nav.main-menu input[type="checkbox"] ~ ul:last-of-type {
    border-bottom: 0;
}

nav.main-menu input[type="checkbox"]:checked ~ ul {
    display: block;
}

nav.main-menu input[type="checkbox"]:checked ~ div {
    border-bottom: 1px solid var(--border-color);
}

nav.main-menu ul {
    display: block;
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

nav.main-menu ul div {
    cursor: pointer;
    padding: 10px 15px;
}

nav.main-menu li {
    padding: 0;
    margin: 10px;
}

nav.main-menu li > label {
    display: block !important;
    margin: 0;
    padding: 0;
}

nav.main-menu li div {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--div-bg);
    color: #000;
    box-shadow: var(--div-shadow);
    border-radius: 10px;
}

nav.main-menu li div:hover {
    background-color: var(--div-bg-hover);
    box-shadow: var(--div-shadow-hover);
}

nav.main-menu li:last-of-type div {
    border-bottom: 0px;
}

nav.main-menu li.drop-end {
    background-color: var(--drop-end-bg);
    margin: 0;
    padding: 0;
    border: 0;
}

nav.main-menu li.drop-end:hover {
    background-color: var(--drop-end-bg-hover);
}

nav.main-menu li.drop-end:last-of-type {
    border-bottom: 1px solid var(--border-color);
}

nav.main-menu ul a {
    display: block;
    padding: 5px 10px;
    color: var(--drop-end-text-color);
    text-decoration: none;
    text-overflow: ellipsis;
}

nav.main-menu input.here ~ div {
    background-color: var(--div-here-bg) !important;
}

nav.main-menu li.here {
    background-color: var(--drop-end-here-bg) !important;
}