main {
    padding: 0 30px;
}

label.bigsearch {
    background-color: #777;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50vh;
}

svg.bigsearch {
    width: 20px;
    fill: #fff;
    margin: 0;
    margin-right: 10px;
}

input.bigsearch {
    color: #fff;
    margin: 0;
    font-size: 1.2em;
    border: 0;
    background-color: transparent;
    width: 100%;
}

input:focus, button:focus {
    outline: none;
}

input.bigsearch::placeholder {
    color: #fff;
}